html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#defaultCanvas0{
 background-color: brown;
}

#myContainer{
  display: inline-block;
  
  
  border: 1em solid black;
}

img{
  width: 59.388038943vh;
  height: 100vh;
  overflow-x: hidden;
  object-fit: cover;
  object-position: 0 0;
}


.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1em;
}

.callout-box{
  display: block;
  padding: 1em;
  background-color: aqua;
}

.innerWrapper{
  display: grid;
  grid-template-rows: 2fr 1fr;
  row-gap: 1em;
}

#callout{
  display: grid;
}