html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#defaultCanvas0{
 background-color: #001a70;
}

#myContainer{
  display: inline-block;
  padding: 1em;
  box-shadow:  5px 5px 10px #011e6da9,
  -5px -5px 10px #ffffff;
  border-radius: 2em;
}

canvas{
  border-radius: 1.5em;
}

img{
  height: 100vh;
  overflow-x: hidden;
  object-fit: cover;
  object-position: 0 0;
  border-radius: 1em;
}


.wrapper {
  display: grid;
  grid-template-columns: .1fr 1fr 2fr .1fr;
  column-gap: .2fr;
}

#callout-box{
  display: block;
  padding: 1em;
  font-family: Arial;
  font-size: 250%;
  border-radius: 1em;
  color: #001a70;
  /* background-color: #0044ff52; */
  box-shadow:  -5px -5px 5px #ffffff inset,
             5px 5px 5px #011e6da9 inset;
}

.innerWrapper{
  display: grid;
  grid-template-rows: 2fr 1fr;
  row-gap: 1em;
}

#relay{
  display: flex;
  justify-content: center;
  align-items: center;
}

#whitespace{
  text-align: center;
  justify-content: center;
}

h1{
  font-family: Helvetica;
  color: #cecece;
  background-color: #001a70;
  border-radius: 50vh;
}

