html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#defaultCanvas0{
 background-color: brown;
}

#myContainer{
  display: inline-block;
  border: 1em solid black;
}

label{
  display: block;
}